*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: initial;
}
/* Full Website Share Style */
#website-font{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn-style{
    background-color: #469165;
    font-size: 16px;
    padding: 12px 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}
.btn-style:hover{
    background-color: #469165d0;
}

/* Logo, Menu and button style */
.nav-area{
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-area .menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.nav-area .menu ul li{
    list-style: none;
}
.nav-area .menu ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.nav-area .menu ul a:hover{
    color: #000000a2;
}

/* Hero Section Design */
.hero{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero .hero-content{
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}
.hero .hero-content a{
    color: #469165;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 8px 14px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
.hero .hero-content h1{
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.hero .hero-content h1 span{
    color: #469165;
    font-weight: bold;
}
.hero .hero-content p{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 30px;
}
.hero-content .group-btn .btn-style-no{
    background-color: transparent;
    font-size: 16px;
    padding: 12px 16px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 10px;
}
.hero-content .group-btn .btn-style-no:hover{
    background-color: #469165;
    border: none;
}
.hero .hero-content a .btn-dot{
    font-size: 10px;
}